<br><br><br>

<h3 style="text-align: center">Editing book details</h3>
    <%= render 'home/header' %>
<%= render 'form', mybook: @mybook %>

<!--<%= link_to 'Show', @mybook %> |
<%= link_to 'Back', mybooks_path %>-->
