<br><br><br>
<h3 style="text-align: center">New Book</h3>

    <%= render 'home/header' %>
<%= render 'form', mybook: @mybook %>
                        
                           
                        

